.header {
  background-color: white;
  border-bottom: 2px solid rgb(128, 128, 128, 0.3);
  height: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  height: 60px;
  align-content: center;
  padding-inline: 20px;
  color: #777;
  font-weight: bold;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: black;
}

.selected {
  border-bottom: 3px solid red;
}
