.categories> :global(.container) {
  margin-block: 50px;
}

.categories> :global(.container)>div {
  margin-block: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.categories> :global(.container) a {
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  margin-inline: auto;
  font-size: 18px;
  background-color: white;
  transition: 0.2s ease;
}

@media (max-width:767px) {
  .categories> :global(.container) a {
    width: 100%;
    text-align: center;
  }
}

.categories> :global(.container) a:hover {
  background-color: gray;
  color: white;
}
