.hero {
  text-align: center;
  align-content: center;
  height: calc(100dvh - 60px);
}

.hero h2 {
  font-size: 64px;
}

.hero span {
  display: block;
  font-size: 20px;
  margin-block: 30px;
}

.actions {
  display: flex;
  width: fit-content;
  margin-inline: auto;
  gap: 30px;
}

.actions button {
  padding: 15px 30px;
  border: 1px solid #cb0000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.actions button:first-of-type {
  background-color: #cb0000;
  color: white;
}

.actions button:first-of-type:hover {
  background-color: #aa0505;
}

.actions button:last-of-type {
  background-color: white;
  color: #cb0000;
}

.actions button:last-of-type:hover {
  background-color: #cb0000;
  color: white;
}
